#nav{
  width: 100vw;
  height: 60px;
  border: 1px solid darkcyan;
  text-align: center;
  font-size: large;
  font-weight: bolder;
  background-color: darkcyan;
  color: whitesmoke;
}


#dashboard{
  border: 2px solid blue;
  min-height: 100vh;
  display: flex;
  padding-top: 70px;
  width: 80vw;
  margin: auto;
}

#left{
  background-color: yellow;
  width: 50%;
  display: inline-flexbox;
  min-height: 100vh;
}

#right{
  background-color: yellowgreen;
  width: 50%;
  display: inline-flexbox;
  min-height: 100vh;
}
